li {
    list-style-type: none;
}

.nav{
    position:absolute;
    top: 0px;
    left: 10px;}

.career{
    position:absolute;
      top: 650px;
      left: 8px;
      width: 200px;
      z-index: 2;
}
.text{
    position:absolute;
      top: 515px;
      left: 25px;
      width: 200px;
      z-index: 2;
      color: white;}
      
.texttwo{
      position: absolute;
      top: 560px;
      left: 40px;
      width: 200px;
      z-index: 2;
      color: white;}

.textthree{
     position: absolute;
      top: 600px;
      left: 40px;
      width: 200px;
      z-index: 2;
      color: white;}

.textfour {
    position: absolute;
      top: 600px;
      left: 40px;
      width: 200px;
      z-index: 2;
      color: white;}

.col-6{
    background-image: url("images/nav_side.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0px 0px 25px;
    width:250px;
}

.nav-item{
    padding: 0px 10px 0px 0px;
}


